.selectWrapper{
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 0.2rem;
  
  label{
    font-size:1rem;
    font-weight: 600;
  }

  select{
    padding: 0.7rem;
    min-width: 4rem;
  }
}